@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,600,600i');

input, button, select, textarea, body {
	font-family: "Barlow", lucida grande, Arial, sans-serif;
	font-weight:400;
	strong, &.bold {font-weight:600;}
}
h1, h2, h3, h4, h5, h6{
	font-family: "Playfair Display", lucida grande, Arial, sans-serif;
	font-weight:400;
	strong, &.bold {font-weight:700;}
}

/****************************LESS CSS****************************/
@baseColor :  ;
@buttonMain : ;
@darkColor : #000;
@lightColor : #fff;
@pixelfont: 16px;
@line-height-base: 1.5;

/*Helper function*/
.mixin (@a) when (lightness(@a) >= 66%) {
	color: @darkColor;
}
.mixin (@a) when not (lightness(@a) >= 66%) {
	color: @lightColor;
}
::selection {
	background: @baseColor;
}
::-moz-selection {
	background: @baseColor;
}

.complementary(@_a){
	background-color: @_a;
	.mixin(@_a);
}
.btn(@b:@buttonMain){
	border-color: @b;
	.complementary(@b);
	text-shadow: none;

	&:hover,.disabled, [disabled]{
		background-color: darken(@b, 4%);
		border-color: darken(@b, 4%);
		.mixin(@b);
	}

	&:active, .active, &:focus, .focus{
		background-color: darken(@b, 8%);
		border-color: darken(@b, 8%);
		.mixin(@b);
	}

}
.element(@_arg, @font:@_arg) {
	a:hover,
	.sidebar-content .nav.nav-tabs.nav-stacked .parent ul a.selected,
	.sidebar-content .nav li li a:hover,
	div[role="complementary"] div > ul > li:hover{
		color:darken(@font,8%)
	}
	a,
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover,
	.nav-tabs > .active > a:focus,
	.nav li a:hover, 
	.nav li a:focus,
	.navbar .nav > li > a:focus, 
	.navbar .nav > li > a:hover,
	.pagination ul > li > a:hover, 
	.pagination ul > li > a:focus, 
	.pagination ul > .active > a, 
	.pagination ul > .active > span,
	nav[role="navigation"] .nav-normal > .active > a,
	nav[role="navigation"] .nav-normal li a:hover,
	nav[role="navigation"] .nav-pills-square > .active > a,
	nav[role="navigation"] .nav-bar > li > a:hover, 
	nav[role="navigation"] .nav-bar > li > a:focus,
	nav[role="navigation"] .nav-bar > .active > a,
	nav[role="navigation"] .nav-bar-top > .active > a,
	nav[role="navigation"] .nav-bar-top > li > a:hover,
	nav[role="navigation"] .nav-bar-underline > .active > a,
	nav[role="navigation"] .nav-underline > .active > a,
	nav[role="navigation"] .nav-underline > li > a:hover,
	nav[role="navigation"] .nav-separator > .active > a,
	nav[role="navigation"] .nav-separator > li > a:hover,
	.sidebar-content .nav a.active,
	div[role="complementary"] div > ul > li:active,
	.sidebar-content .nav li a:hover,
	.sidebar-content .nav li a:focus {
		color: @font;
	}

	.nav a:hover .caret {
		border-bottom-color: @font;
		border-top-color: @font;
	}
	.nav-tabs > li > a:hover,
	.nav-tabs > li > a:focus,
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus,
	.nav-pills > .active > a, 
	.nav-pills > .active > a:hover, 
	.nav-pills > .active > a:focus,
	.nav-tabs.nav-stacked > .active > a, 
	.nav-tabs.nav-stacked > .active > a:hover, 
	.nav-tabs.nav-stacked > .active > a:focus,
	.nav-list > .active > a, 
	.nav-list > .active > a:hover, 
	.nav-list > .active > a:focus,
	.grid li a:hover img,
	textarea:focus, 
	input[type="text"]:focus, 
	input[type="password"]:focus, 
	input[type="datetime"]:focus, 
	input[type="datetime-local"]:focus, 
	input[type="date"]:focus, 
	input[type="month"]:focus, 
	input[type="time"]:focus, 
	input[type="week"]:focus, 
	input[type="number"]:focus, 
	input[type="email"]:focus, 
	input[type="url"]:focus, 
	input[type="search"]:focus, 
	input[type="tel"]:focus, 
	input[type="color"]:focus, 
	.uneditable-input:focus, 
	.gform_wrapper li.gfield_error input[type="text"]:focus, 
	.gform_wrapper li.gfield_error input[type="url"]:focus, 
	.gform_wrapper li.gfield_error input[type="email"]:focus, 
	.gform_wrapper li.gfield_error input[type="tel"]:focus, 
	.gform_wrapper li.gfield_error input[type="number"]:focus, 
	.gform_wrapper li.gfield_error input[type="password"]:focus, 
	.gform_wrapper li.gfield_error textarea:focus{
		border-color: @_arg;
	}
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus,
	.nav-pills > .active > a, 
	.nav-pills > .active > a:hover, 
	.nav-pills > .active > a:focus,
	.nav-tabs.nav-stacked > .active > a, 
	.nav-tabs.nav-stacked > .active > a:hover, 
	.nav-tabs.nav-stacked > .active > a:focus,
	.nav-list > .active > a, 
	.nav-list > .active > a:hover, 
	.nav-list > .active > a:focus,
	.dropdown-menu > li > a:hover, 
	.dropdown-menu > li > a:focus, 
	.dropdown-submenu:hover > a, 
	.dropdown-submenu:focus > a,
	.dropdown-menu > .active > a, 
	.dropdown-menu > .active > a:hover, 
	.dropdown-menu > .active > a:focus,
	.progress .bar,
	.progress-striped .bar,
	.progress-info.progress-striped .bar, .progress-striped .bar-info,
	nav[role="navigation"] .nav-pills-square li a:hover{
		background-color:  @_arg;
	}

	.form-control:focus{
		border-color: @_arg;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(red(@_arg),green(@_arg), blue(@_arg), 0.6);
	}

	.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
		background-color: @_arg;
		border-color: @_arg;
	}

}


body, p, .gform_body .gfield input, .gform_body .gfield textarea, .gform_body .gfield select{
	font-size: @pixelfont;
	line-height: @line-height-base;
}
h1{
	font-size: (@pixelfont * 3);
	line-height: @line-height-base;
}
h2{
	font-size: (@pixelfont * 1.5);
	line-height: @line-height-base;
}
h3{
	font-size: (@pixelfont * 1.17);
	line-height: @line-height-base;
}
h4{
	font-size: (@pixelfont * 1);
	line-height: @line-height-base;
}
h5{
	font-size: (@pixelfont * 0.83);
	line-height: @line-height-base;
}
h6{
	font-size: (@pixelfont * 0.75);
	line-height: @line-height-base;
}

/*scrolltotop*/
#topcontrol {
	background-color: rgba(0, 0, 0, 0.1);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	border-radius: 3px;
	color: #FFFFFF;
	height: 48px;
	line-height: 55px;
	margin: 0 15px 15px 0;
	text-align: center;
	width: 48px;
	z-index: 10000;
}
#scrolltotop:before {
	border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF;
	border-image: none;
	border-style: solid;
	border-width: 10px;
	content: "";
	height: 0;
	left: 28%;
	position: absolute;
	top: 17%;
	width: 0;
}

#topcontrol:hover{
	background-color: darken(@baseColor,10%);
}

/****************************END LESS CSS****************************/

/****************************Overwrite CSS****************************/
.element(@baseColor);

.accent{
	color: @baseColor !important;
}

.accent2{
	color: #8e94bc !important;
}

.accent3{
	color: #454545 !important;
}

.btn-primary{
	.btn;
}

.btn-custom{
	.btn();
	color:#fff;
	&:hover,&:active,&:focus {
		color:#fff;
	}
}


/*font*/


.font-custom-1 {
	font-size: ;
}

.font-custom-2 {
	font-size: ;
}

.line-height-small {
	line-height: 1.2;
}
/****************************Header ****************************/
header nav[role="navigation"] .nav {
	margin: 0px 0px 0px !important;
	> li > a {
		color: #DE9051;
		padding: 10px 15px;
		font-size: 16px;
		.caret{
			border-top-color: #DE9051;
			border-bottom-color: #DE9051;
		} 
		&:hover,&:active,&:focus {
			color:  @darkColor; 
			.caret{
				border-top-color:  @darkColor;
				border-bottom-color:  @darkColor;
			}  
		}
	}
	> li.active > a {
		color:  @darkColor;
		.caret{
			border-top-color: @darkColor;
			border-bottom-color: @darkColor;
		}  
	}
}
.nav li a:hover, .nav li a:focus {
	background-color: transparent;
	border-color: transparent;
}

nav[role="navigation"] ul > li .dropdown-menu > li:hover > a,
nav[role="navigation"] ul > li .dropdown-menu > li > a:hover {
	background: none repeat scroll 0 0 @baseColor;
	color: #fff;
}

.home .header-shadow {
	box-shadow: none;
}

.main-header {
	border-bottom: 5px solid #DE9051;
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media  (max-width: 991px) {
	header nav[role="navigation"] ul {
		display:none;
	}
	header nav[role="navigation"] select {
		display:block;
	}

}

@media (max-width: 767px) {
	.bottom-footer ul {
		display:table;
		margin:auto;
		float:none !important;
	}
	.main-footer address {
		display:table;
		margin:auto;
		text-align:left;
	}
	.gform_wrapper .top_label li.gfield.gf_left_half {
		float: none;
		width:100%
	}
}
/****************************Custom CSS***************************/

/****** Fixed modal problem *****/
.mm-slideout { z-index:auto !important;}
#mobile-menu:not(.mm-menu) {
	display: none;
}